<div class="container">
    <div class="row">
        <div class="col-8">
            <h2 style="color: black;">Task form</h2>
            <div class="mb-3">
                <label style="color: black;" for="task" class="form-label">Task Title</label>
                <input #taskInput type="text" class="form-control" id="task" placeholder="title">
                <br>
                <button type="button" class="btn btn-dark " (click)="addtask(taskInput.value)">Submit</button>
                <button type="button" style="margin-left: 3%;" routerLink="../" class="btn btn-danger">Cancel</button>
            </div>

        </div>
    </div>
</div>